/* Esercizio
Griglia 6x6, ad ogni click sul quadrato parte una richiesta AJAX che prende un numero random da 1 a 9.
Se è <= 5 il quadrato diventa giallo,
se è > di 5 il quadrato diventa verde.
Il numero ottenuto appare al centro del quadrato.
I quadrati fateli prima a mano e poi con javascript. */
.container {
  display: flex;
  width: 400px;
  height: 400px;
  flex-wrap: wrap;
}
.border {
  height: calc(98%/6);
  width: calc(90%/6);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
